﻿@*

*@
@{

    <h1>Welcome Page are welcome You!</h1>
    <h2>See my settings by URL:</h2>
    <h4><a href="http://localhost:61857/settings">Environment</a></h4>
    <h2>List Resources:</h2>

    <h4><a href="http://localhost:61857/api/botstate">Bot state</a></h4>
    <h4><a href="http://localhost:61857/api/gamestate">Game state</a></h4>

}
